.login {
    display: flex;
    align-items: center;
    justify-content: center;
  
    form {
      width: 360px;
      padding: 100px 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      h1 {
        color: gray;
        margin-bottom: 20px;
      }
  
      label {
        color: gray;
        font-size: 18px;
      }
  
      input,
      textarea {
        padding: 20px;
        border: 3px solid rgb(216, 214, 214);
        width: 300px;
        margin: 11px;
      }
  
      button {
        border: none;
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: rgb(100, 78, 22);
        cursor: pointer;
      }
  
      span{
        color: red;
        font-size: 12px;
      }
      
    }
  }
.sel{
    width: 20px;
}
#sell{
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 120px;
    margin-top: 10px;
    margin-bottom: 30px;

}